*{
    padding: 0;
    margin: 0.5px;
}
/* .cover{
    width: 1171px;
    height: 600px;
    background: url("plane1.jpg");
    background-size: contain;
    /* الcontain هيعمل repeatللصورة في الاجزاء الفاضية 
    background-position: center;
    display: flex;
} */
.cover {
    width: 100%; 
    height: 600px;
    background: url("plane1.jpg");
    background-size: contain; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.text{
    position:absolute ;
    left: 43%;
    color: white;
    font-size: 30px;
    bottom: 90%;
}
#scrollButton {
    background-color: #6204aa;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    bottom: 90%;
    right: 20px;
}
.insta{
    position:absolute ;
    right: 90%;
    bottom: 90%;
}

.my-button{
    background-color: #503f6b;
    border-radius: 5px;
    color: white;
    padding: 10px 27px;
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
}

.container {
    background-color: #d1d0d0;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    background: #e7e5e8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', 'sans-serif';
    text-align: center;
    height: 70%;
    width: 700px;
    max-width: 40%;
    min-height: 280px;
    box-sizing: border-box;
    padding: 70px 0;
    margin: auto;
    width: 70%;
}

h2 {
    text-align: center;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

a {
    color: #91008e;
    font-size: 14px;
}

form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 50%;
    text-align: center;
    border-radius: 10px;

}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    border-radius: 10px;
}

.site-footer {
    background-color: #907cae;
    margin: 0;
}

.contenedor-footer {
    padding: 3rem 0; 
    display: flex;
    justify-content: space-between;
}

.copyright {
    margin: 0;
    color: white;
}